.section__directions{
    .section-title{
        margin-bottom: 0;
    }
}
.direction{
    &s{
        font-size: 0;
        text-align: center;
    }
    display: inline-block;
    vertical-align: middle;
    width: 33.3333%;
    vertical-align: top;
    padding: 30px;
    &-title{
        font-family: bold;
        font-size: 24px;
        text-align: center;
    }
    &-icon{
        margin: 15px 0;
        text-align: center;
        img{
            width: auto;
            max-width: 160px;
            height: auto;
            max-height: 130px;
        }
    }
    &-link{
        text-align: center;
    }
}