$color-background: #161616;
$color-red: #c52f36;
$color-gray: #4f4f4f;
$color-social-text: #888888;
$color-social-background: #292929;

$color-button-background: #c52f36;
$color-button-text: #fff;
$color-button-gray-background: #888888;
$color-button-gray-text: #fff;

$color-titles: #555555;

$color-white: #ffffff;
$color-black: #000000;

$theme-background: #fff;
$theme-color: #1c2545;

$container-width: 980px;
$header-navigation-color: #1d1d1b;
$header-navigation-underline: #1c2545;
$breadcrumbs-color: #868686;
$light-link-color: #9b9a9a;
$position-color: #6f6f6e;
$slider-color: #1d2746;
$event-date-color: #1a2444;
$circle-shadow: rgba(0,0,0,0.4);
$date-color: #9b9a9a;
$footer-address-color: #575756;
$deliver-color: #2d2e82;
$site-link-color: #1b2545;